<article>
  <ul>
    <li>
      Автор:
      {% if profile_page == True %}
        {{ post.author.get_full_name }}
      {% else %}
        <a href="{% url 'posts:profile' post.author.username %}">
          {{ post.author.get_full_name }}
        </a>
      {% endif %}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">
    подробная информация
  </a>
</article>
{% if show_group_posts_link and post.group %}
  <a href="{% url 'posts:group_list' post.group.slug %}">
    все записи группы
  </a>
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
